<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="ion-padding" style="margin-top: 7rem;">
    <section>
      <img src="/assets/icon/capyotlogo.png" alt="capyotlogo">
    </section>
    <section>
        <ion-button (click)="showModal()" color="primary" expand="block" routerlink="/signup">Sign up</ion-button><br>
        <ion-button expand="block" href="https://www.facebook.com/"> Continue with facebook </ion-button><br>
        <p>Already have an account? <a href="">Login</a></p>
    </section>
  </div>
</ion-content>
